<%- include("partials/header.ejs")%>
<div class="post-form-container">
    <form action="/submit" method="POST" class="post-form">
        <div class="form-group">
            <input type="text" name="title" placeholder="Title" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="content" placeholder="Content" rows="10" cols="50" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Publish" class="btn btn-primary">
        </div>
    </form>
</div>
<%- include("partials/footer.ejs")%>