<%- include("partials/header.ejs")%>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="container">
      <main class="form-signin">
          <form>
              <h1 class="h3 mb-3 fw-normal">Create new account</h1>

              <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInput" placeholder="Name">
                  <label for="floatingInput">Name</label>
              </div>

              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

              <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
              </div>

              <button class="btn btn-primary w-100 py-2" type="submit">Create Account</button>
          </form>
      </main>
  </div>

  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
</body>
<%- include("partials/footer.ejs")%>