<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RainCheck Tomorrow</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <div class="container">
        <div class="response-area">
            <% if(locals.name){%>
                <p>
                    Exactly 24 hours from now the temperature will be <%=temperature%>°C and there will be <%=isRaining%> in <%= name %>.
              <%}else{%>
                <p>Waiting for data...</p>
              <%}%>
        </div> 
        <form id="myForm" method="post">
            <label for="cityInput">City:</label>
            <input type="text" id="cityInput" name="city">
            <label for="postcodeInput">Post Code:</label>
            <input type="text" id="postcodeInput" name="postcode">
            <label for="apikeyInput">API key:</label>
            <input type="text" id="apikeyInput" name="apikey">
            <label for="submit">Submit</label>
            <input type="submit" value="GET" formaction="/get-weather">
        </form>
    </div>
</body>
</html>
