<link rel="stylesheet" href="/styles/main.css">
</main>

<footer class="footer">
  <%var CurrentYear = new Date().getFullYear()%>
  <p>Copyright © <%=CurrentYear%></p>
</footer>
</body>

</html>